<!DOCTYPE html>
<html>
<head>
  <title>联系我们</title>
  <link rel="stylesheet" type="text/css" href="./contact.css">
  <link rel="icon" type="image/x-icon" href="background.png">
  <style>
    
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: aquamarine;
      
    }

    h1 {
     
      text-align: center;
    }

    .container {
      
      max-width: 800px;
      margin: 0 auto;
     
    }

    p {
        font-size: 40px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <ul class="navbar">
    <li><a href="/home">首页</a></li>
    <li><a href="/about">关于我们</a></li>
    <li><a href="/services">服务</a></li>
    <li><a href="/contact">联系我们</a></li>
    <!-- <li><a href="/mine">个人中心</a></li> -->
    <li><a href="/login">登录</a></li>
    <li><a href="/chat">AI客服</a></li>
  </ul>
  <div class="container"> 
    <br> 
    <h1>联系我们</h1>
    <p>如果您对我们的服务或产品有任何疑问或需求，请随时与我们联系：</p>
    <p>电话：17558080342</p>
    <p>电子邮件：2327296384@qq.com</p>
    <p>地址：安徽信息工程学院A36W223</p>
    <p>社交媒体：<a href="https://v.douyin.com/ijxqeu7/">抖音</a>, <a href="https://www.kuaishou.com/new-reco">快手</a>, <a href="https://m.weibo.cn/">微博</a></p>
  </div>
</body>
</html>
