<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>公告</title>
    
    <link rel="icon" type="image/x-icon" href="background.png">
    <link rel="stylesheet" type="text/css" href="./notice.css">

</head>
<body>
  
      <ul class="navbar">
        <li><a href="/home">首页</a></li>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/services">服务</a></li>
        <li><a href="/contact">联系我们</a></li>
        <!-- <li><a href="/mine">个人中心</a></li> -->
        <li><a href="/login">登录</a></li>
        <li><a href="/chat">AI客服</a></li>
        
      </ul>

<div>
  <br>
<h1>公告:</h1>
<div class="notice">
<h2 align="center">鲸鱼通信门户网站7月4日23：00至7月5日7：00系统紧急升级公告</h2>
<p align="center">来源：鲸鱼通信集团有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;发布时间：2023-07-04</p>
&nbsp;尊敬的客户：
<br><br>
&nbsp;您好：
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了进一步改善您的业务体验和增强系统安全性，鲸鱼通信门户网站将在2023年7月4日（星期二）23：00——7月5日（星期三）7：00期间进行紧急系统升级，届时鲸鱼通信门户网站（lixiangyang.com）可能将无法正常访问，部分功能可
能将无法正常使用，系统升级结束后即恢复正常。
<br>
<br>
<br>

<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;　　感谢您一直以来对我们的支持，如给您带来不便，敬请谅解，谢谢！
<br><br>
<p align="right">鲸鱼通信集团有限公司</p>

<p align="right">2023年7月4日</p>
</div>


</div>



<pre>
   
  
</pre>
</body>
</html>